<!DOCTYPE html>
<html lang="en">
<head>
  <title>Drug Traceability Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Drug Traceability Demo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Blockchain Based Approach for Drug Traceability in Healthcare</h3>
  <p>Healthcare Supply Chain is a complex network of several independent entities that include raw material suppliers, manufacturers, distributor, pharmacies, hospitals and patients. Tracking supplies through this network is non-trivial due to several factors including lack of information, centralized control and competing behaviour among stakeholders.</p>
  <center><img src="{{url_for('static',filename='2.png')}}"  /></center>
</div>

</body>
</html>