<!DOCTYPE html>
<html lang="en">
<head>
  <title>Drug Traceability Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Drug Traceability Demo</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Register Here</h2> <br/><br/>
    <form action="/registerUser" method="POST">
    <div class="form-group">
        <label for="name">Enter your name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
    </div>
    <div class="form-group">
        <label for="sel1">Select your Role:</label>
        <select class="form-control" id="role" name='role'>
            <option value="1">1 -> Lab</option>
            <option value="2">2 -> Manufacturer</option>
            <option value="3">3 -> Warehouse M</option>
            <option value="4">4 -> Transportation</option>
            <option value="5">5 -> Warehouse T</option>
            <option value="6">6 -> Hospitals</option>
            <option value="7">7 -> Retailers</option>
            <option value="8">8 -> Patients</option>
        </select>
    </div>
    <div class="form-group">
      <label for="name">Wallet Address:</label>
      <input type="text" class="form-control" id="walletaddr" placeholder="Enter Wallet Address" name="walletaddr">
    </div>

    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>
    
    <button type="submit" class="btn btn-primary btn-register" id="register">Sign Up</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>