<!DOCTYPE html>
<html lang="en">
<head>
  <title>Drug Traceability Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Drug Traceability Demo</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/retailersdashboard">Dashboard</a></li>
      <li class="active"><a href="/rgivetoPatient">Give to Patient</a></li>
      <li><a href="/rviewPatients">View Patients</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Hospitals Dashboard</h2> <br/>
  <h3 style="text-align:center;color:rebeccapurple">Give to Patient</h3> <br/><br/>
  <form action="/rgivetoPatientForm" method="POST">
    <div class="form-group">
        <label for="sel1">Select the drug that you want to give:</label>
        <select class="form-control" id="lotlabform" name='lotlabform'>
            {%for i in range(0, len1)%}
            <option>{{dashboard_data1[i][0]}}</option>
            {%endfor%}
        </select>
    </div>
    <div class="form-group">
        <label for="patientId">To which patient you want to allocate</label>
        <input type="text" class="form-control" id="patientId" placeholder="Enter Patient Id " name="patientId">
    </div>
    <div class="form-group">
      <label for="lotpillcount">Enter number of pills you want to allocate</label>
      <input type="number" class="form-control" id="lotpillcount" placeholder="Enter Number of pills you want to give " name="lotpillcount">
    </div>
    <button type="submit" class="btn btn-primary btn-login" id="login">Give it to patient</button>
    </form>
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>